.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bym-link {
  color: white;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.header-nav {
  margin: 10px;
}

.centered {
  justify-content: center;
}

.nav-link-container {
  padding: 0 20px;
}

.nav-link {
  color: white;
}
